<html lang="en">
<%- include ('header') -%>
	<div class="container form">
		<form role="form" method="post" action="/worker">
			<input type="text" id="domain" class="" name="domain" placeholder="Domain">
			<input type="text" id="imgUrl" class="" name="imgUrl" placeholder="Img Location URL">
			<div>
				<div>Compress</div>
				<input type="radio" name="lossy" value="true"> True
				<input type="radio" name="lossy" value="false"> False
			</div>
			<div>
				<div>Quality</div>
				<input type="radio" name="quality" value="low"> Low
				<input type="radio" name="quality" value="medium"> Medium
				<input type="radio" name="quality" value="high"> High
			</div>
			<input type="submit" class="" value="Request Worker">
		</form>
	</div>
<%- include ('footer') -%>