<html lang="en">
<%- include ('header') -%>
	<div class="fml">
		<h1 class="header">Welcome</h1>
		<p>
			<a href="/profile" role="button">Profile</a>
			<a href="/workerView" role="button">Request worker</a>
		</p>
	</div>
<%- include ('footer') -%>