<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picolo</title>
		<link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="container">
          <ul class="navbar-elem">
            <li class="active"><a href="/dashboard">Home</a></li>
          </ul>
          <ul class="navbar-elem">
            <li><a href="/logout">Logout</a></li>
          </ul>
      </div>
    </nav>
