<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Picolo</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body id="clrblk">
	<div id="loginbox" style="margin-top:50px;" class="container">
		<div class="container">
			<div class="header">Sign In
			</div>
		</div>

		<div class="container">
			<% if (message.length > 0) { %>
			<div class="alert"><%= message %></div>
			<% } %>

			<form id="loginform" class="form" role="form" method="post" action="/login">
				<div class="form-group">
					<input id="login-email" type="text" class="input" name="email" value="" placeholder="email">
				</div>

				<div class="form-group">
					<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
				</div>

				<div class="form-group">
					<button id="btn-login" type="submit" class="btn">Login </button>
				</div>

				<div class="form-group">
					<div class="">
						<div">
							Don't have an account!
							<a href="/register">
								Register Here
							</a>
						</div>
					</div>
				</div>
				
			</form>
		</div>

	</div>
</body>

</html>