<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Picolo</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
	<% if (message.length > 0) { %>
		<div class="alert"><%= message %></div>
	<% } %>

	<% if (animate === true) { %>
		<div class="wrapper form fadeInDown">
	<% } else {%>
		<div class="wrapper form">
	<% } %>

		<div class="container form">
			<h2 class="active"> 
				<a href="#">Sign In
				</a>
			</h2>

			<h2 class="inactive underlineHover">
				<a href="/register">Sign Up
				</a>
			</h2>
			
			<form role="form" method="post" action="/login">
				<input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
				<input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
				<input type="submit" class="fadeIn fourth" value="Log In">
			</form>

			<div class="container-footer">
				<a class="underlineHover" href="#">Forgot Password?</a>
			</div>

		</div>
	</div>
</body>

</html>