<%- include ('header') -%>
<div class="container">
		<h1>Profile</h1>
		<form>
			<div class="container"></div>
			<div class="container"></div>
			<div class="container"></div>
			
		</form>
</div>
<%- include ('footer') -%>