<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Picolo</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
	<% if (message.length > 0) { %>
		<div id="alert" class="alert"><%= message %></div>
	<% } %>

	<% if (animate === true) { %>
		<div class="wrapper form fadeInDown">
	<% } else {%>
		<div class="wrapper form">
	<% } %>		

		<div class="container form">
			<!-- Tabs Titles -->
			<h2 class="inactive underlineHover"> 
				<a href="/login">Sign In
				</a>
			</h2>
			<h2 class="active">
				<a href="#">Sign Up
				</a>
			</h2>
			
			<!-- Register Form -->
			<form role="form" method="post" action="/register">
				<input type="text" id="first-name" class="fadeIn first" name="first_name" placeholder="First Name">
				<input type="text" id="last-name" class="fadeIn second" name="last_name" placeholder="Last Name">
				<input type="text" id="email" class="fadeIn third" name="email" placeholder="Email">
				<input type="password" id="password" class="fadeIn fourth" name="password" placeholder="Password">
				<input type="password" id="confirm-password" class="fadeIn fourth" name="confirm-password" placeholder="Confirm Password">
				<input type="submit" class="fadeIn fifth" value="Register">
			</form>

		</div>
	</div>
</body>

</html>