<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Picolo</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
	<div class="container" id="mainform">
		<div id="signupbox" style=" margin-top:50px" class="container">

			<div class="container">
				<div class="container">
					<div class="header">Register</div>
					<div class="link">
						<a id="signinlink" href="/">
							Sign In
						</a>
					</div>
				</div>

				<div class="container">
					<form class="form" role="form" method="post" action="/register" onSubmit="return checkblank(this);">
						<% if (message.length > 0) { %>
						<div class="alert"><%= message %></div>
						<% } %>
						<div id="signupalert" style="display:none" class="alert">
							<p>Error:</p>
							<span></span>
						</div>

						<div class="form-group">
							<label for="first_name" class="label">First Name</label>
							<div class="container">
								<input type="text" class="input" name="first_name" placeholder="First Name">
							</div>
						</div>
						<div class="form-group">
							<label for="last_name" class="label">Last Name</label>
							<div class="container">
								<input type="text" class="input" name="last_name" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="label">Email</label>
							<div class="container">
								<input type="text" class="input" name="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="label">Password</label>
							<div class="container">
								<input type="password" class="input" name="password" placeholder="Password">
							</div>
						</div>

						<div class="form-group">
							<div class="container">
								<button id="btn-signup" type="submit" class="btn">&nbsp Sign
									Up
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>