<%- include ('header') -%>
	<div class="container">
		<form class="form" role="form" method="post" action="/workerView" onSubmit="return checkblank(this);">
			<div class="header">Request worker</div>
			<% if (message.length > 0) { %>
			<div class="alert alert-success col-sm-12"><%= message %></div>
			<% } %>
			<div id="signupalert" style="display:none" class="alert">
				<p>Error:</p>
				<span></span>
			</div>

			<div class="form-group">
				<label for="imagesLocationUrl" class="label">Images location url</label>
				<div class="container">
					<input type="text" class="form-control" name="imagesLocationUrl" placeholder="url">
				</div>
			</div>

			<div class="form-group">
				<label for="compressWithLoss" class="label">Compress with loss</label>
				<div class="container">
					<input type="checkbox" class="" name="compressWithLoss">
				</div>
			</div>

			<div class="form-group">
				<label for="Quality" class="label">Img Quality</label>
				<div class="container">
					<input type="radio" name="qualiy" value="low"> Low
					<input type="radio" name="qualiy" value="medium"> Medium
					<input type="radio" name="qualiy" value="high"> High
				</div>
			</div>

			<div class="form-group">
				<div class="container">
					<button id="btn-signup" type="submit" class="btn"><i class="icon-hand-right"></i> &nbsp Request</button>
				</div>
			</div>

		</form>
	</div>
<%- include ('footer') -%>